@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.98) translateY(-5px); }
    to { opacity: 1; transform: scale(1) translateY(0); }
}

.animate-fadeIn {
    animation: fadeIn 0.15s ease-out;
}
